:root {
  	font-size: 14px;
  	--b-blue: hsl(200, 100%, 40%);
  	--b-blue-hover: hsl(200, 60%, 40%);
}
body {
	background: linear-gradient(56deg, rgba(203,251,250,1) 0%, rgba(255,255,204,0.5) 100%);
}
	
/****************** Resets *******************/
* {
	box-sizing: border-box;
	font-family: "Roboto", serif;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
 	list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
	font-weight: bold;
}


/************** Multiple Pages ***************/

.button {
  margin: 5px auto;
  display: block;
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  background-color: var(--b-blue);
  color: white;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}
.button:hover {
	background-color: var(--b-blue-hover);
	text-decoration: none;
	color: white;
	transform: scale(1.1);
}
.blue {
	color: var(--b-blue-hover);
}


/****************** Header *******************/

header {
	text-align: center;
}
header img {
	width: 300px;
}


/**************** Navigation *****************/

nav {
	width: 100%;
	padding-bottom: 20px;
}
nav a {
	width: 50%;
}


/**************** Main Content *****************/

.main-content {
	margin: 10px;
	text-align: center;
}

.card {
	text-align: left;
	/* in order to make detail-link absolute to card div */
	position: relative;
	background-color: white;
	width: 90%;
	margin: 15px auto;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Makes the whole card a link to the details page */
.detail-link {
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10; 
}
.park-img, #detail-park-img {
	border-radius: 20px;
	width: 100%;
}
.park-text-div, .fav-park-text-div {
	margin: 10px 10px;
}
.state {
	font-weight: bold;
}


/**************** Park Details *****************/

#quote-div{
	padding: 10px;
}
#fancyQuote{
	font-family: 'Calligraffitti', cursive;
	font-size: 20px;
	font-weight: bold;
}
.detail-park-info {
	margin-top: 10px;
}
#park-facts{
	width: 100%;
	background-color: #e6e6e6;
	border-radius: 20px;
	padding: 20px 30px;
	text-align: center;
}
#park-facts ul {
	text-align: left;
}
#park-facts ul li span {
	font-weight: bold;
}
#today-weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	padding: 20px 30px;
}
#today-weather-image {
	width: 150px;
}


/**************** Weather Details *****************/

.weather, .five-day-weather {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px auto;
	width: 300px;
	border-radius: 20px;
	border: solid grey 1px;
	padding: 10px;
}
#daily-weather-image {
	width: 150px;
}
#tempPreferenceForSession {
	margin-top: 20px;	
	padding-top: 10px;
	border-top: solid lightgrey .5px;
}

.recommendations {
	display: block;
	border-top: solid grey 1px;
	margin: 15px;
}



/**************** Survey Form *****************/

label {
	font-weight: bold;
}
errors {
	color: red;
}



/**********************************************/
/*            New breakpoint at 900px         */
/**********************************************/

@media only screen and (min-width: 900px) {
	
	:root {
  	font-size: 12px;
	}
	
	body {
		max-width: 1000px;
		margin: 5px auto;
	}
	header img {
		width: 500px;
	}
	.main-content {
		width: 90%;
		margin: 0px auto;
		text-align: center;
	}
	
	/* make the nav links go to one line and center */
	nav {
		width: 80%;
		margin: 10px auto;
		display: flex;
	}
	nav a {
		width: 30%;
	}

	/* Flexbox for home and favorites */
	#park-flexbox {
		display: flex;
		flex-wrap: wrap;
	}

	/* Home - 2 park tiles per row */
	/* Home - park tile grid with image on left, text on right */
	.home-park-div {
		width: 47%;
		margin: 5px auto;
		display: grid;
		grid-template-columns: 1fr 2fr; 
		grid-template-areas: "img info";
	}
	/* Park card enlarges on hover */
	.moves:hover {
		transform: scale(1.1);
	}
	.park-image {
		grid-area: img;
		margin-right: 5px;
	}
	.park-text-div {
		grid-area: info;
	}
	
	/* Favorites - 3 park tiles per row */
	.fav-park-div {
		width: 30%;
	}
	.fav-park-text-div {
		text-align: center;
		margin: 10px auto;
	}
	
	
	/********** Park Details **********/
	
	#fancyQuote{
		font-size: 30px;
		font-weight: bold;
	}
	.detail-park-img {
		border-radius: 20px;
		width: 50%;
  	transition: 0.3s;
		-webkit-filter: grayscale(100%);
	  -moz-filter: grayscale(100%);
	  -ms-filter: grayscale(100%);
	  filter: grayscale(100%);
	  filter: gray; /* IE 6-9 */
	}
	.detail-park-img:hover {
		-webkit-filter: none;
	  -moz-filter: none;
	  -ms-filter: none;
	  filter: none;
	  transform: scale(2) translate(25%,0);
	  object-fit: cover;
	}
	

	.extras {
		display: flex;
		justify-content: center;
	}

	.weather {
		width: 40%;
	}
	#today-weather-image {
		width: 40%;
	}
	
	
	.weather-group {
		display: flex;
		margin: 20px;
	}
	
	.five-day-weather {
		font-size: 14px;
		flex-direction: column;
		justify-content: flex-start;
	}
	#daily-weather-image img {
		width: 50%;
	}


	#surveyForm {
		margin: 10px auto;
		width: 500px;
		text-align: left;
	}
	
}
